[submodule "platform/linux-dpaa2/flib/qbman"]
	path = platform/linux-dpaa2/flib/qbman
	url = https://source.codeaurora.org/external/qoriq/qoriq-components/qbman_userspace.git
[submodule "platform/linux-dpaa2/flib/rta"]
	path = platform/linux-dpaa2/flib/rta
	url = https://source.codeaurora.org/external/qoriq/qoriq-components/flib.git
