[submodule "platform/linux-dpaa2/flib/qbman"]
	path = platform/linux-dpaa2/flib/qbman
	url = https://github.com/qoriq-open-source/qbman_userspace.git
[submodule "platform/linux-dpaa2/flib/rta"]
	path = platform/linux-dpaa2/flib/rta
	url = https://github.com/qoriq-open-source/flib.git
